In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [131]:
data = pd.read_csv('movie_bd_v5.csv', na_values='NaN')
data.iloc[84]                                               # что-то с этой строчкой не так

imdb_id                                        best man Jimmy."
budget                                                      101
revenue                                                  Comedy
original_title          Miramax Films|Screen Gems|LStar Capital
cast                                                  1/16/2015
director                                                    6.5
tagline                                                    2015
overview                                                    NaN
runtime                                                     NaN
genres                                                      NaN
production_companies                                        NaN
release_date                                                NaN
vote_average                                                NaN
release_year                                                NaN
Name: 84, dtype: object

In [223]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1889 entries, 0 to 1889
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1888 non-null   float64
 9   genres                1888 non-null   object
 10  production_companies  1888 non-null   object
 11  release_date          1888 non-null   object
 12  vote_average          1888 non-null   float64
 13  release_year          1888 non-null   float64
 14  profit                1889 non-null   int64
dtypes: float64(3), int64(3), object(9)
memory usage: 316.1+ KB

In [4]:
data.describe()

             budget      runtime  vote_average  release_year
count  1.890000e+03  1888.000000   1888.000000   1888.000000
mean   5.428209e+07   109.663136      6.140572   2007.856992
std    4.859041e+07    18.020711      0.764921      4.467001
min    1.010000e+02    63.000000      3.300000   2000.000000
25%    2.000000e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07   107.000000      6.100000   2008.000000
75%    7.150000e+07   120.000000      6.600000   2012.000000
max    3.800000e+08   214.000000      8.100000   2015.000000

# Предобработка

In [838]:
answers_keys=list(range(28))
#print(answers_keys)
answers1=dict.fromkeys(answers_keys[1:],"")
#print(answers1)

In [49]:
answers = {} # создадим словарь для ответов

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
answers['2'] = 'Gods and Generals'
answers['3'] ='Winnie the Pooh'
answers['4'] =mean_runtime
answers['5']=median_runtime





print(answers)

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

{'1': 'Pirates of the Caribbean: On Stranger Tides', '2': 'Gods and Generals', '3': 'Winnie the Pooh', '4': 109.66313559322033, '5': 107.0}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [24]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'


# если ответили верно, можете добавить комментарий со значком "+"

In [136]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget']==data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
724,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136.0,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,05/11/2011,6.3,2011.0

In [853]:
ans1=data[data['budget']==data['budget'].max()]['original_title']
print(ans1)
answers1.update({1:ans1})

724    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [137]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], axis=0, ascending=False)
#or
data.loc[data['budget']==380000000] # got the value from DESCRIBE function above

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
724,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136.0,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,05/11/2011,6.3,2011.0

# 2. Какой из фильмов самый длительный (в минутах)?

In [134]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [135]:
data.loc[data['runtime']==214]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1158,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214.0,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003.0

In [846]:
ans2=data.loc[data['runtime']==214]['original_title']
print(ans2)
answers1.update({2:ans2})

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [138]:
data.loc[data['runtime']==63]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
769,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63.0,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011.0

In [850]:
answers['3'] =data.iloc[769,3]
print(answers['3'])
ans3=data.iloc[769,3]
answers1.update({3:ans3})

Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [140]:
data.describe()

             budget      runtime  vote_average  release_year
count  1.890000e+03  1888.000000   1888.000000   1888.000000
mean   5.428209e+07   109.663136      6.140572   2007.856992
std    4.859041e+07    18.020711      0.764921      4.467001
min    1.010000e+02    63.000000      3.300000   2000.000000
25%    2.000000e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07   107.000000      6.100000   2008.000000
75%    7.150000e+07   120.000000      6.600000   2012.000000
max    3.800000e+08   214.000000      8.100000   2015.000000

In [852]:
mean_runtime=data['runtime'].mean()
print(mean_runtime)
answers1.update({4:mean_runtime})

109.66313559322033

# 5. Каково медианное значение длительности фильмов?

In [855]:
median_runtime=data['runtime'].median()
print(median_runtime)
ans5=median_runtime
answers1.update({5:median_runtime})

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [857]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data.head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,06/09/2015,6.5,2015.0,5|463|1323|3304|2468

In [858]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   budget                1890 non-null   int64
 2   revenue               1890 non-null   object
 3   original_title        1890 non-null   object
 4   cast                  1890 non-null   object
 5   director              1890 non-null   object
 6   tagline               1890 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1888 non-null   float64
 9   genres                1888 non-null   object
 10  production_companies  1888 non-null   object
 11  release_date          1888 non-null   object
 12  vote_average          1888 non-null   float64
 13  release_year          1888 non-null   float64
 14  new_cast              1890 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 221.6+ KB

# Revenue=Comedy

In [859]:
data.loc[data['revenue']=='Comedy']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast
84,"best man Jimmy.""",101,Comedy,Miramax Films|Screen Gems|LStar Capital,1/16/2015,6.5,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [860]:
# Remove the row entirely https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
data.drop(index=84,inplace=True) 
data.iloc[83:85]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast
83,tt0884732,23000000,79799880,The Wedding Ringer,Kevin Hart|Josh Gad|Kaley Cuoco|Affion Crocket...,Jeremy Garelick,He's the best man... money can buy.,Doug Harris is a loveable but socially awkward...,NaN,NaN,NaN,NaN,NaN,NaN,84|1720|1788|47|1707
85,tt3567288,5000000,98450062,The Visit,Olivia DeJonge|Ed Oxenbould|Kathryn Hahn|Benja...,M. Night Shyamalan,No one loves you like your grandparents.,The terrifying story of a brother and sister w...,94.0,Horror|Thriller,Blumhouse Productions|Blinding Edge Pictures,09/10/2015,5.9,2015.0,13|944|1823|329|837

In [861]:
data['revenue']=pd.to_numeric(data['revenue'])   # не получилось .astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1889 entries, 0 to 1889
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1888 non-null   float64
 9   genres                1888 non-null   object
 10  production_companies  1888 non-null   object
 11  release_date          1888 non-null   object
 12  vote_average          1888 non-null   float64
 13  release_year          1888 non-null   float64
 14  new_cast              1889 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 236.1+ KB

In [862]:
data['profit']=data['revenue']-data['budget']
display(data.head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,06/09/2015,6.5,2015.0,5|463|1323|3304|2468,1363528810

In [863]:
data[data['profit']==data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast,profit
240,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162.0,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009.0,82|3399|3017|3067|2350,2544505847

In [864]:
df_sorted=data.sort_values(by='profit', ascending=False)
df_ans6=df_sorted.head(1)
ans6=df_ans6['original_title']
answers1.update({6:ans6})

# 7. Какой фильм самый убыточный?

In [162]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1888.000000,1888.000000,1888.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.663136,6.140572,2007.856992,1.010545e+08
std,4.858721e+07,2.146698e+08,18.020711,0.764921,4.467001,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

In [169]:
data[data['profit']==data['profit'].min()]['original_title']

1246    The Lone Ranger
Name: original_title, dtype: object

In [865]:
ans7=data[data['profit']==data['profit'].min()]['original_title']
print(ans7)
answers1.update({7:ans7})

1246    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [866]:
data[data['profit']>0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1477
genres                  1477
production_companies    1477
release_date            1477
vote_average            1477
release_year            1477
new_cast                1478
profit                  1478
dtype: int64

In [867]:
ans8=np.sum(data['profit'] > 0)
print(ans8)
answers1.update({8:ans8})

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [868]:
data.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,06/09/2015,6.5,2015.0,5|463|1323|3304|2468,1363528810

In [869]:
data_2008=data[data['release_year']==2008]
#data_2008.sort_values(by='revenue', ascending=False)['original_title']
ans9=data_2008[data_2008['revenue']==data_2008['revenue'].max()]['original_title']
print(ans9)
answers1.update({9:ans9})

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [870]:
data_3_y=data[(data['release_year']<2015) & (data['release_year']>2011)].sort_values(by='profit', ascending=True)
display(data_3_y.head(1))
ans10=data_3_y[data_3_y['profit']==data_3_y['profit'].min()]['original_title']
print(ans10)
answers1.update({10:ans10})

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast,profit
1246,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149.0,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,07/03/2013,6.0,2013.0,66|251|3353|1277|1387,-165710090

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [303]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# COMEDY + 1 for the deleted lame entry

In [871]:
genres_names=data['genres'].unique()
#print(len(genres_names))

list_of_genres=[]
for name in genres_names:
    name_list=str(name).split('|')
    for uniq in name_list:
        list_of_genres.append(uniq)

unique_genres=np.unique(list_of_genres)

d_genres=dict(Counter(list_of_genres))

df_genres=pd.DataFrame.from_dict(d_genres, columns=['Count'],orient='index').reset_index()
df_genres.columns=['Genre','Count']
sorted_genres=df_genres.sort_values(by='Count', ascending=False)
#display(sorted_genres)
ans11=sorted_genres.iloc[0]['Genre']
print(ans11)
answers1.update({11:ans11})

Action

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [872]:
profitable=data[data['profit']>0]

In [873]:
genres_names1=profitable['genres'].unique()
list_of_genres1=[]
#print(len(genres_names1))
for name in genres_names1:
    name_list1=str(name).split('|')
    for uniq in name_list1:
        list_of_genres1.append(uniq)

unique_genres1=np.unique(list_of_genres1)

d_genres1=dict(Counter(list_of_genres1))

df_genres1=pd.DataFrame.from_dict(d_genres1, columns=['Count'],orient='index').reset_index()
df_genres1.columns=['Genre','Count']

sorted_genres1=df_genres1.sort_values(by='Count', ascending=False)
#display(sorted_genres1)
ans12=sorted_genres1.iloc[0]['Genre']
print(ans12)
answers1.update({12:ans12})

Action

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [874]:
data.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,06/09/2015,6.5,2015.0,5|463|1323|3304|2468,1363528810

In [875]:
director=data.groupby(['director'])[['director','revenue']].sum().sort_values(['revenue'],ascending=False)
display(director.head(3))

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625

In [876]:
director1=director.reset_index()
display(director1.head(3))
ans13=director1.iloc[0][0]
display(ans13)
answers1.update({13:ans13})

            director     revenue
0      Peter Jackson  6490593685
1  Christopher Nolan  4167548502
2        David Yates  4154295625

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [879]:
action=data[data.genres.str.contains('Action',na=False)] # Все фильмы, относящиеся к Экшн

#Группируем по директорам:
director_action=action.groupby(['director'])[['genres','original_title','production_companies']].count().sort_values(['original_title'],ascending=False)

In [880]:
direct_act=director_action.reset_index()
display(direct_act.head(3))

ans14=direct_act.iloc[0][0]
display(ans14)
answers1.update({14:ans14})

             director  genres  original_title  production_companies
0  Paul W.S. Anderson       7               7                     7
1         Michael Bay       7               7                     7
2        Ridley Scott       6               6                     6

'Paul W.S. Anderson'

In [881]:
ans_14=direct_act[direct_act['original_title']==direct_act['original_title'].max()]
display(ans_14)
answers1.update({14:ans_14})

             director  genres  original_title  production_companies
0  Paul W.S. Anderson       7               7                     7
1         Michael Bay       7               7                     7

# Перепроверка
# В ответах викторины нет нужных имён!

In [486]:
#Андерсон

anderson=data[(data['director']=='Paul W.S. Anderson') & (data.genres.str.contains('Action',na=False))]
display(anderson['imdb_id'].count())

7

In [488]:
#Guy Ritchie
Guy_Ritchie=data[(data['director']=='Guy Ritchie') & (data.genres.str.contains('Action',na=False))]
display(Guy_Ritchie['imdb_id'].count())

4

In [489]:
#Robert Rodriguez
Robert_Rodriguez=data[(data['director']=='Robert Rodriguez') & (data.genres.str.contains('Action',na=False))]
display(Robert_Rodriguez['imdb_id'].count())

6

In [490]:
#Ridley Scott
Ridley_Scott=data[(data['director']=='Ridley Scott') & (data.genres.str.contains('Action',na=False))]
display(Ridley_Scott['imdb_id'].count())

6

In [491]:
#Quentin Tarantino
Quentin_Tarantino=data[(data['director']=='Quentin Tarantino') & (data.genres.str.contains('Action',na=False))]
display(Quentin_Tarantino['imdb_id'].count())

3

In [492]:
#Tony Scott

Tony_Scott=data[(data['director']=='Tony Scott') & (data.genres.str.contains('Action',na=False))]
display(Tony_Scott['imdb_id'].count())

5

In [ ]:
#Ну и как мне отвечать?

#А я пересчитала в Экселе, не поленилась! И у меня сошлось!

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [882]:
def unique_word(list):    # creating a list of unique titles out of combined entries
    list_all=[]
    for entry in list:
        split_entry=str(entry).split('|')
        for word in split_entry:
            list_all.append(word)
    #print('All',len(list_all))      
    unique_list=np.unique(list_all)  
    #print('Unique',len(unique_list))
    return(unique_list)        

data_2012=data[data['release_year']==2012]

actor_2012=data_2012.groupby(['cast'])[['revenue']].sum().sort_values(['revenue'],ascending=False)
actors_2012=actor_2012.reset_index()
display(actors_2012.head(3))
#actors_2012.info()

#listed_actors_2012=actors_2012['cast'].unique()
#print(len(listed_actors_2012))

ans15=actors_2012.iloc[0][0]
display(ans15)
answers1.update({15:ans15})

                                                cast     revenue
0  Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...  1519557910
1  Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...  1108561013
2  Christian Bale|Michael Caine|Gary Oldman|Anne ...  1081041287

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [409]:
above_average=data[data['budget']>=data['budget'].mean()] #Моё определение высокобюджетных фильмов
listed_actors=above_average['cast'].unique()
#print('listed',len(listed_actors))
un_act_ab_av=unique_word(listed_actors)  #All the actors listed in above average budget movies 
#print('unique actors',len(un_act_ab_av))
d_actors_budg={}
for actor in un_act_ab_av:
    summ=above_average[above_average.cast.str.contains(actor,na=False)]['budget'].sum()
    count=above_average[above_average.cast.str.contains(actor,na=False)]['budget'].count()
    aver_budget=summ/count
    d_actors_budg[actor]=[summ,count,aver_budget]
#print(d_actors_budg)
df_actors=pd.DataFrame.from_dict(d_actors_budg, columns=['Total','Count','Average'],orient='index').reset_index()
df_actors.columns=['Actor','Total','Count','Average']
df_actors.sort_values(['Count'],ascending=False).head(3)

              Actor       Total  Count       Average
965      Matt Damon  1441000000     18  8.005556e+07
13     Adam Sandler  1366500000     17  8.038235e+07
68   Angelina Jolie  1665000000     16  1.040625e+08

In [410]:
df_actors.sort_values(['Total'],ascending=False).head(3)

            Actor       Total  Count       Average
726   Johnny Depp  2250000000     13  1.730769e+08
542  Ian McKellen  1935000000     12  1.612500e+08
535  Hugh Jackman  1922000000     14  1.372857e+08

In [883]:
ans16=df_actors[df_actors['Count']==df_actors['Count'].max()]['Actor']
print(ans16)
answers1.update({16:ans16})

965    Matt Damon
Name: Actor, dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [454]:
# All listed movie genres featuring N Cage
NC_genres=data[data.cast.str.contains('Nicolas Cage',na=False)]['genres']
#display(NC_genres.head(5))

#Unique movie genres featuring N Cage
NC_genres_unique=unique_word(NC_genres)
#print(NC_genres_unique)

NC_movies=data[data.cast.str.contains('Nicolas Cage',na=False)]
#display(NC_movies.head(3))

dict_NC_g={}

for gen in NC_genres_unique:
    #print(gen)
    count_gen=NC_movies[NC_movies.genres.str.contains(gen,na=False)]['original_title'].count()
    dict_NC_g[gen]=count_gen
#print(dict_NC_g)

df_NC_gen=pd.DataFrame.from_dict(dict_NC_g, columns=['Count'],orient='index').reset_index()
df_NC_gen.columns=['Genre','Count']
df_NC_gen.sort_values(['Count'],ascending=False).head(3)

       Genre  Count
0     Action     17
13  Thriller     15
5      Drama     12

In [884]:
ans17=df_NC_gen[df_NC_gen['Count']==df_NC_gen['Count'].max()]['Genre']
print(ans17)
answers1.update({17:ans17})

0    Action
Name: Genre, dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [511]:
#Joint Production
PP_movies=data[data['production_companies'].str.contains('Paramount Pictures',na=False)].sort_values(['budget'], ascending=True)
display(PP_movies.describe())

,budget,revenue,runtime,vote_average,release_year,profit
count,1.220000e+02,1.220000e+02,122.000000,122.000000,122.000000,1.220000e+02
mean,7.130328e+07,1.885483e+08,113.516393,6.090164,2007.155738,1.172451e+08
std,5.029350e+07,1.969863e+08,20.377931,0.691914,4.541854,1.628895e+08
min,5.000000e+06,9.190869e+06,83.000000,4.500000,2000.000000,-6.483103e+07
25%,3.050000e+07,6.087099e+07,97.000000,5.600000,2003.250000,1.418041e+07
50%,6.000000e+07,1.185148e+08,111.500000,6.000000,2006.000000,6.135094e+07
75%,9.875000e+07,2.426401e+08,127.000000,6.600000,2011.000000,1.569465e+08
max,2.100000e+08,1.123747e+09,180.000000,8.000000,2015.000000,9.287470e+08

In [510]:
PP_movies.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
912,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87.0,Comedy,Paramount Pictures,10/21/2002,6.2,2002.0,59282312
1072,tt2109184,5000000,142817992,Paranormal Activity 4,Katie Featherston|Kathryn Newton|Matt Shively|...,Henry Joost|Ariel Schulman,It's closer than you think,It has been five years since the disappearance...,95.0,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/17/2012,5.3,2012.0,137817992

In [885]:
min_PP_jp=PP_movies['profit'].min()
print(min_PP_jp)
ans18=PP_movies[PP_movies['profit']==min_PP_jp]['original_title']
print(ans18)
answers1.update({18:ans18})

-64831034
926    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [513]:
year_T_rev=data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'],ascending=False)
display(year_T_rev.head(3))

                  revenue
release_year
2015.0        25369402502
2014.0        23405862953
2013.0        23213799791

In [517]:
year_T_revenue=year_T_rev.reset_index()
display(year_T_revenue.head(3))

   release_year      revenue
0        2015.0  25369402502
1        2014.0  23405862953
2        2013.0  23213799791

In [886]:
ans19=year_T_revenue[year_T_revenue['revenue']==year_T_revenue['revenue'].max()]['release_year']
print(ans19)
answers1.update({19:ans19})

0    2015.0
Name: release_year, dtype: float64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [529]:
#All Warner Bros movies
WB_movies=data[data['production_companies'].str.contains('Warner',na=False)].sort_values(['profit'], ascending=True)

gouped_by_year=WB_movies.groupby(['release_year'])[['profit']].sum().sort_values(['profit'],ascending=False)

gouped_by_years=gouped_by_year.reset_index()
display(gouped_by_years.head(3))

   release_year      profit
0        2014.0  2295464519
1        2007.0  2208217007
2        2008.0  2134595031

In [887]:
ans20=gouped_by_years[gouped_by_years['profit']==gouped_by_years['profit'].max()]['release_year']
print(ans20)
answers1.update({20:ans20})

0    2014.0
Name: release_year, dtype: float64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [888]:
display(data[['original_title','release_date']].head(3))

       original_title release_date
0      Jurassic World   06/09/2015
1  Mad Max: Fury Road    5/13/2015
2           Insurgent    3/18/2015

In [889]:
data = pd.read_csv('movie_bd_v5.csv', na_values='NaN')

data_date=data.loc[:,('original_title','release_date','director')]

def date_to_month(string): #define the function to replace the date with month
    import re
    
    if  str(string)=='nan':
        month_verbose=''
    else:  
        split_str=[]
        split_str=str(string).split('/')
        
        months={}  #creadtin the dictionary of months
        num_mon=list(range(13))
        months=dict.fromkeys(num_mon[1:],"")
        verb_mon=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
        for i in range(1,13):
            months[i]=verb_mon[(i-1)]   
        
        month_numerical=str()

        #print('Начинаем проверять условие', split_str[0]) 

        if  re.search('0.',split_str[0]):     #cleaning the month numerical value
            month_numerical=int(split_str[0][1])    
        else:
            month_numerical=int(split_str[0])
        month_verbose=months[month_numerical] #accessing the dictionary

    return month_verbose

data_date['release_date']=data_date['release_date'].apply(date_to_month)

display(data_date.head(3))

       original_title release_date          director
0      Jurassic World          Jun   Colin Trevorrow
1  Mad Max: Fury Road          May     George Miller
2           Insurgent          Mar  Robert Schwentke

In [890]:
data_21=data_date.groupby(['release_date'])[['original_title']].count().sort_values(['original_title'],ascending=False)
data_21_ans=data_21.reset_index()
display(data_21_ans.head(3))

  release_date  original_title
0          Sep             227
1          Dec             190
2          Oct             186

In [891]:
ans21=data_21_ans[data_21_ans['original_title']==data_21_ans['original_title'].max()]['release_date']
print(ans21)
answers1.update({21:ans21})

0    Sep
Name: release_date, dtype: object

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [892]:
def season(month):
    summer=['Jun','Jul','Aug']
    fall=['Sep','Oct','Nov']
    winter=['Dec','Jan','Feb']
    spring=['Mar','Apr','May']
    if month in fall:
        season_m='Fall'
    else:
        if month in winter:
            season_m='Winter'
        else:
            if month in spring:
                season_m='Spring'
            else:
                season_m='Summer'
    return season_m

data_21_ans['season']=data_21_ans['release_date'].apply(season)
display(data_21_ans.head(3))

data_22=data_21_ans.groupby(['season'])[['original_title']].sum().sort_values(['original_title'],ascending=False)
data_22_ans=data_22.reset_index()
display(data_22_ans)

  release_date  original_title  season
0          Sep             227    Fall
1          Dec             190  Winter
2          Oct             186    Fall

   season  original_title
0    Fall             559
1  Summer             452
2  Spring             445
3  Winter             434

In [893]:
ans22=data_22_ans[data_22_ans['original_title']==data_22_ans['original_title'].max()]['season']
print(ans22)
answers1.update({22:ans22})

0    Fall
Name: season, dtype: object

# 23. Для какого режиссера зима – самое продуктивное время года?

In [895]:
display(data_date.head(3))

       original_title release_date          director
0      Jurassic World          Jun   Colin Trevorrow
1  Mad Max: Fury Road          May     George Miller
2           Insurgent          Mar  Robert Schwentke

In [896]:
data_date['season']=data_date['release_date'].apply(season)
display(data_date.head(3))

       original_title release_date          director  season
0      Jurassic World          Jun   Colin Trevorrow  Summer
1  Mad Max: Fury Road          May     George Miller  Spring
2           Insurgent          Mar  Robert Schwentke  Spring

In [897]:
see=data_date.groupby(['season'])
winter_releases=see.get_group('Winter')

winter_directors=winter_releases.groupby(['director'])[['original_title']].count().sort_values(['original_title'],ascending=False)

data_23_wint=winter_directors.reset_index()
display(data_23_wint.head(5))

ans23=data_23_wint[data_23_wint['original_title']==data_23_wint['original_title'].max()]['director']
print(ans23)
answers1.update({23:ans23})

            director  original_title
0      Peter Jackson               7
1     Clint Eastwood               6
2  Steven Soderbergh               6
3         Shawn Levy               4
4      Adam Shankman               4

0    Peter Jackson
Name: director, dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [694]:
titles_data=data.loc[:,('production_companies','original_title','overview')]
titles_data.head(1)

,production_companies,original_title,overview
0,Universal Studios|Amblin Entertainment|Legenda...,Jurassic World,Twenty-two years after the events of Jurassic ...

In [698]:
titles_data['title_length']=titles_data['original_title'].apply(lambda string: len(string))
titles_data['overview_length']=titles_data['overview'].apply(lambda string: len(str(string)))

titles_data.head(3)

,production_companies,original_title,overview,title_length,overview_length
0,Universal Studios|Amblin Entertainment|Legenda...,Jurassic World,Twenty-two years after the events of Jurassic ...,14,175
1,Village Roadshow Pictures|Kennedy Miller Produ...,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,18,581
2,Summit Entertainment|Mandeville Films|Red Wago...,Insurgent,Beatrice Prior must confront her inner demons ...,9,139

In [701]:
p_c_listed=titles_data['production_companies']
prod_comp=unique_word(p_c_listed)
print(prod_comp, len(prod_comp))

['"DIA" Productions GmbH & Co. KG' '11:11 Mediaworks' '1492 Pictures' ...
 'nan' 'platinum studios' 'uFilm'] 1772

In [708]:
dict_prod_c={}
for prod_c in prod_comp:
    mean_title=titles_data[titles_data.production_companies.str.contains(prod_c,na=False)]['title_length'].mean()
    mean_overview=titles_data[titles_data.production_companies.str.contains(prod_c,na=False)]['overview_length'].mean()
    dict_prod_c[prod_c]=[mean_title,mean_overview]
    
p_c_len=pd.DataFrame.from_dict(dict_prod_c, columns=['title_length','overview_length'],orient='index').reset_index()
#display(p_c_len.head(3))
p_c_len.columns=['production_companies','title_length','overview_length']
#display(p_c_len.head(3))

                             index  title_length  overview_length
0  "DIA" Productions GmbH & Co. KG     11.000000            273.0
1                 11:11 Mediaworks      8.000000            131.0
2                    1492 Pictures     28.230769            315.0

              production_companies  title_length  overview_length
0  "DIA" Productions GmbH & Co. KG     11.000000            273.0
1                 11:11 Mediaworks      8.000000            131.0
2                    1492 Pictures     28.230769            315.0

In [713]:
sorted_title=p_c_len.sort_values(by='title_length', ascending=False)
display(sorted_title.head(3))

        production_companies  title_length  overview_length
583  Four By Two Productions          83.0            298.0
817  Jim Henson Company, The          59.0            304.0
446            Dos Corazones          47.0            150.0

In [898]:
ans24=sorted_title[sorted_title['title_length']==sorted_title['title_length'].max()]['production_companies']
print(ans24)
answers1.update({24:ans24})

583    Four By Two Productions
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [899]:
sorted_overview=p_c_len.sort_values(by='overview_length', ascending=False)
display(sorted_overview.head(3))

ans25=sorted_title[sorted_title['overview_length']==sorted_title['overview_length'].max()]['production_companies']
print(ans25)
answers1.update({25:ans25})

                  production_companies  title_length  overview_length
1041             Midnight Picture Show          23.0           1000.0
1355              Room 9 Entertainment          21.0            964.0
231   Brookwell-McNamara Entertainment          11.0            936.0

1041    Midnight Picture Show
Name: production_companies, dtype: object

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [718]:
data.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,06/09/2015,6.5,2015.0

In [741]:
data_norm=data['vote_average'].value_counts(sort=False,normalize=True,bins=15) #normalize=True
display(data_norm)
data_norm.index

(3.294, 3.62]    0.003175
(3.62, 3.94]     0.003175
(3.94, 4.26]     0.004762
(4.26, 4.58]     0.012698
(4.58, 4.9]      0.030688
(4.9, 5.22]      0.059788
(5.22, 5.54]     0.101058
(5.54, 5.86]     0.132275
(5.86, 6.18]     0.159259
(6.18, 6.5]      0.201058
(6.5, 6.82]      0.108995
(6.82, 7.14]     0.084127
(7.14, 7.46]     0.056085
(7.46, 7.78]     0.026984
(7.78, 8.1]      0.014815
Name: vote_average, dtype: float64

IntervalIndex([(3.294, 3.62], (3.62, 3.94], (3.94, 4.26], (4.26, 4.58], (4.58, 4.9] ... (6.5, 6.82], (6.82, 7.14], (7.14, 7.46], (7.46, 7.78], (7.78, 8.1]],
              closed='right',
              dtype='interval[float64]')

In [900]:
upper_bin=data.loc[(data['vote_average'] > data_norm.index[-1].left) & (data['vote_average'] <= data_norm.index[-1].right)].sort_values(by='vote_average', ascending=False)

display(upper_bin.loc[:,('original_title','vote_average')])
ans26=upper_bin.loc[:,('original_title','vote_average')]
answers1.update({26:ans26})

                                         original_title  vote_average
600                                     The Dark Knight           8.1
9                                            Inside Out           8.0
34                                                 Room           8.0
119                                        Interstellar           8.0
126                                  The Imitation Game           8.0
371                                           Inception           7.9
1192                                   12 Years a Slave           7.9
1184                            The Wolf of Wall Street           7.9
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1801                                            Memento           7.9
120                             Guardians of the Galaxy           7.9
139                            The Grand Budapest Hotel           7.9
129                                           Gone Girl           7.9
284                                          Mr. Nobody           7.8
1689                                There Will Be Blood           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
1445                                       The Prestige           7.8
1214                                 Dallas Buyers Club           7.8
1206                                          Prisoners           7.8
125                                          Big Hero 6           7.8
1189                                                Her           7.8
317                                            3 Idiots           7.8
864               The Lord of the Rings: The Two Towers           7.8
156                            The Theory of Everything           7.8
28                                            Spotlight           7.8
178                              The Fault in Our Stars           7.8
497   The Lord of the Rings: The Fellowship of the Ring           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [792]:
data = pd.read_csv('movie_bd_v5.csv', na_values='NaN')
actors_listed=data['cast']
actors_unique=unique_word(actors_listed)
unique_list=actors_unique.tolist()

list1=sorted(unique_list, reverse=True)
print(type(list1))
list2=sorted(unique_list, reverse=False)
print(type(list2))
print(list1[1])
print(list2[1])

<class 'list'>
<class 'list'>
Zuleikha Robinson
50 Cent

In [ ]:

list_of_partners={}
for actor1 in list1:
    l1=len(actor1)
    for actor2 in list2:
        l2=len(actor2)
        if actor1!=actor2:
            for index, row in data.iterrows():
                cast=row['cast']
                movie=row['original_title']
                if actor1 in cast and actor2 in cast:
                    if l1<l2:
                        partners=actor1+' & '+actor2+' @ '+movie
                        list_of_partners[partners]=movie
                    else:
                        partners=actor2+' & '+actor1+' @ '+movie                       
                        list_of_partners[partners]=movie
                        
                        
                    
partners=pd.DataFrame.from_dict(list_of_partners, columns=['partners','movie'],orient='index').reset_index()

ВАРИАНТ 2

In [995]:
def unique_word(list):    # creating a list of unique titles out of combined entries
    list_all=[]
    for entry in list:
        split_entry=str(entry).split('|')
        for word in split_entry:
            list_all.append(word)
    #print('All',len(list_all))      
    unique_list=np.unique(list_all)  
    #print('Unique',len(unique_list))
    return(unique_list)

In [929]:
#Выберу сналчала самых снимаемых


popular={}
#print(unique_list)
for a in unique_list:
    count=df_work[df_work.cast.str.contains(a,na=False)]['original_title'].count()
    popular[a]=count
#print(popular)

In [933]:
popular_df=pd.DataFrame.from_dict(popular,orient='index').reset_index()
#display(popular_df.head(3))
popular_df.columns=['Name','Count']
display(popular_df.head(3))

        Name  Count
0  1/16/2015      1
1    50 Cent      5
2  A.J. Cook      1

In [936]:
most_popular=popular_df.sort_values(by='Count', ascending=False)
display(most_popular.head(3))

                   Name  Count
2476       Nicolas Cage     27
2890  Samuel L. Jackson     27
2759     Robert De Niro     26

In [938]:
most_popular.describe()

             Count
count  3407.000000
mean      2.779865
std       3.394881
min       1.000000
25%       1.000000
50%       1.000000
75%       3.000000
max      27.000000

In [944]:
pop_norm=most_popular['Count'].value_counts(sort=False,normalize=True,bins=10) #normalize=True
display(pop_norm)

(0.973, 3.6]    0.789551
(3.6, 6.2]      0.105371
(6.2, 8.8]      0.038450
(8.8, 11.4]     0.027297
(11.4, 14.0]    0.019078
(14.0, 16.6]    0.007925
(16.6, 19.2]    0.007631
(19.2, 21.8]    0.001761
(21.8, 24.4]    0.001468
(24.4, 27.0]    0.001468
Name: Count, dtype: float64

In [1004]:
upper_decile=most_popular[most_popular['Count']>12]['Name']
print('THE LIST IS REDUCED TO',len(upper_decile))

THE LIST IS REDUCED TO 102

In [1005]:
new_upper_decile=upper_decile.sort_values()
display(new_upper_decile.head(5))

6       Aaron Eckhart
33       Adam Sandler
75       Alec Baldwin
161         Amy Adams
198    Angelina Jolie
Name: Name, dtype: object

In [1006]:
list1=upper_decile.tolist()
list2=new_upper_decile.tolist()
#print(list1)

In [1007]:
list_of_partners={}
for actor1 in list1:
    l1=len(actor1)
    for actor2 in list2:
        l2=len(actor2)
        if actor1!=actor2:
            for index, row in data.iterrows():
                cast=row['cast']
                movie=row['original_title']
                if actor1 in cast and actor2 in cast:
                    if l1<l2:
                        partners=actor1+' & '+actor2+' @ '+movie
                        list_of_partners[partners]=movie
                    else:
                        partners=actor2+' & '+actor1+' @ '+movie                       
                        list_of_partners[partners]=movie
                        
                        
print(list_of_partners)                    
partners=pd.DataFrame.from_dict(list_of_partners, columns=['partners','movie'],orient='index').reset_index()

{'Nicolas Cage & Angelina Jolie @ Gone In Sixty Seconds': 'Gone In Sixty Seconds', 'Bill Nighy & Nicolas Cage @ Astro Boy': 'Astro Boy', 'Emma Stone & Nicolas Cage @ The Croods': 'The Croods', 'Guy Pearce & Nicolas Cage @ Seeking Justice': 'Seeking Justice', 'Nicolas Cage & Julia Roberts @ The Ant Bully': 'The Ant Bully', 'Nicolas Cage & Julianne Moore @ Next': 'Next', 'Mark Ruffalo & Nicolas Cage @ Windtalkers': 'Windtalkers', 'Meryl Streep & Nicolas Cage @ Adaptation.': 'Adaptation.', 'Meryl Streep & Nicolas Cage @ The Ant Bully': 'The Ant Bully', 'Nicolas Cage & Michael Caine @ The Weather Man': 'The Weather Man', 'Nicolas Cage & Nicole Kidman @ Trespass': 'Trespass', 'Nicolas Cage & Paul Giamatti @ The Ant Bully': 'The Ant Bully', 'Nicolas Cage & Ryan Reynolds @ The Croods': 'The Croods', 'Ben Affleck & Samuel L. Jackson @ Changing Lanes': 'Changing Lanes', 'Ben Kingsley & Samuel L. Jackson @ Rules of Engagement': 'Rules of Engagement', 'Bruce Willis & Samuel L. Jackson @ Unbreakable': 'Unbreakable', 'Channing Tatum & Samuel L. Jackson @ Coach Carter': 'Coach Carter', 'Chris Evans & Samuel L. Jackson @ Captain America: The Winter Soldier': 'Captain America: The Winter Soldier', 'Christian Bale & Samuel L. Jackson @ Shaft': 'Shaft', 'Colin Farrell & Samuel L. Jackson @ S.W.A.T.': 'S.W.A.T.', 'Dwayne Johnson & Samuel L. Jackson @ The Other Guys': 'The Other Guys', 'Ewan McGregor & Samuel L. Jackson @ Star Wars: Episode II - Attack of the Clones': 'Star Wars: Episode II - Attack of the Clones', 'Ewan McGregor & Samuel L. Jackson @ Star Wars: Episode III - Revenge of the Sith': 'Star Wars: Episode III - Revenge of the Sith', 'Guy Pearce & Samuel L. Jackson @ Rules of Engagement': 'Rules of Engagement', 'Jamie Foxx & Samuel L. Jackson @ Django Unchained': 'Django Unchained', 'Josh Brolin & Samuel L. Jackson @ Oldboy': 'Oldboy', 'Julianne Moore & Samuel L. Jackson @ Freedomland': 'Freedomland', 'Leonardo DiCaprio & Samuel L. Jackson @ Django Unchained': 'Django Unchained', 'Mark Wahlberg & Samuel L. Jackson @ The Other Guys': 'The Other Guys', 'Michael Caine & Samuel L. Jackson @ Kingsman: The Secret Service': 'Kingsman: The Secret Service', 'Paul Giamatti & Samuel L. Jackson @ Turbo': 'Turbo', 'Ryan Reynolds & Samuel L. Jackson @ Turbo': 'Turbo', 'Samuel L. Jackson & Scarlett Johansson @ Captain America: The Winter Soldier': 'Captain America: The Winter Soldier', 'Samuel L. Jackson & Scarlett Johansson @ The Spirit': 'The Spirit', 'Vin Diesel & Samuel L. Jackson @ xXx': 'xXx', 'Will Ferrell & Samuel L. Jackson @ The Other Guys': 'The Other Guys', 'Willem Dafoe & Samuel L. Jackson @ xXx: State of the Union': 'xXx: State of the Union', 'Angelina Jolie & Robert De Niro @ Shark Tale': 'Shark Tale', 'Anne Hathaway & Robert De Niro @ The Intern': 'The Intern', 'Ben Stiller & Robert De Niro @ Little Fockers': 'Little Fockers', 'Ben Stiller & Robert De Niro @ Meet the Fockers': 'Meet the Fockers', 'Ben Stiller & Robert De Niro @ Meet the Parents': 'Meet the Parents', 'Bradley Cooper & Robert De Niro @ Limitless': 'Limitless', 'Bradley Cooper & Robert De Niro @ Silver Linings Playbook': 'Silver Linings Playbook', 'Bruce Willis & Robert De Niro @ What Just Happened': 'What Just Happened', 'Robert De Niro & Charlize Theron @ 15 Minutes': '15 Minutes', 'Robert De Niro & Charlize Theron @ Men of Honor': 'Men of Honor', 'Clive Owen & Robert De Niro @ Killer Elite': 'Killer Elite', 'Eddie Murphy & Robert De Niro @ Showtime': 'Showtime', 'Jack Black & Robert De Niro @ Shark Tale': 'Shark Tale', 'James Franco & Robert De Niro @ City By The Sea': 'City By The Sea', 'Jason Statham & Robert De Niro @ Killer Elite': 'Killer Elite', 'Jessica Alba & Robert De Niro @ Machete': 'Machete', 'Morgan Freeman & Robert De Niro @ Last Vegas': 'Last Vegas', 'Owen Wilson & Robert De Niro @ Little Fockers': 'Little Fockers', 'Owen Wilson & Robert De Niro @ Meet the Parents': 'Meet the Parents', 'Robert De Niro & Sylvester Stallone @ Grudge Match': 'Grudge Match', 'Will Smith & Robert De Niro @ Shark Tale': 'Shark Tale', 'Matt Damon & Alec Baldwin @ The Good Shepherd': 'The Good Shepherd', 'Matt Damon & Angelina Jolie @ The Good Shepherd': 'The Good Shepherd', "Brad Pitt & Matt Damon @ Ocean's Eleven": "Ocean's Eleven", "Brad Pitt & Matt Damon @ Ocean's Thirteen": "Ocean's Thirteen", 'Matt Damon & Brendan Gleeson @ Green Zone': 'Green Zone', 'Matt Damon & Cate Blanchett @ The Monuments Men': 'The Monuments Men', 'Matt Damon & Charlize Theron @ The Legend of Bagger Vance': 'The Legend of Bagger Vance', 'Clive Owen & Matt Damon @ The Bourne Identity': 'The Bourne Identity', 'Matt Damon & Drew Barrymore @ Titan A.E.': 'Titan A.E.', 'Matt Damon & George Clooney @ The Monuments Men': 'The Monuments Men', "Matt Damon & George Clooney @ Ocean's Eleven": "Ocean's Eleven", 'Matt Damon & George Clooney @ Syriana': 'Syriana', "Matt Damon & George Clooney @ Ocean's Thirteen": "Ocean's Thirteen", 'Matt Damon & John Goodman @ The Monuments Men': 'The Monuments Men', 'Matt Damon & Josh Brolin @ True Grit': 'True Grit', 'Jude Law & Matt Damon @ Contagion': 'Contagion', "Matt Damon & Julia Roberts @ Ocean's Eleven": "Ocean's Eleven", 'Matt Damon & Kate Winslet @ Contagion': 'Contagion', 'Matt Damon & Leonardo DiCaprio @ The Departed': 'The Departed', 'Matt Damon & Mark Wahlberg @ The Departed': 'The Departed', 'Matt Damon & Morgan Freeman @ Invictus': 'Invictus', 'Matt Damon & Scarlett Johansson @ We Bought a Zoo': 'We Bought a Zoo', 'Will Smith & Matt Damon @ The Legend of Bagger Vance': 'The Legend of Bagger Vance', 'Ben Kingsley & Bruce Willis @ Lucky Number Slevin': 'Lucky Number Slevin', 'Bruce Willis & Cate Blanchett @ Bandits': 'Bandits', "Bruce Willis & Colin Farrell @ Hart's War": "Hart's War", 'Bruce Willis & Jason Statham @ The Expendables 2': 'The Expendables 2', 'Justin Long & Bruce Willis @ Live Free or Die Hard': 'Live Free or Die Hard', 'Bruce Willis & Morgan Freeman @ Lucky Number Slevin': 'Lucky Number Slevin', 'Bruce Willis & Rosario Dawson @ Fire with Fire': 'Fire with Fire', 'Bruce Willis & Seann William Scott @ Cop Out': 'Cop Out', 'Steve Carell & Bruce Willis @ Over the Hedge': 'Over the Hedge', 'Bruce Willis & Sylvester Stallone @ The Expendables 2': 'The Expendables 2', 'Bruce Willis & Zooey Deschanel @ Rock the Kasbah': 'Rock the Kasbah', 'Amy Adams & Mark Wahlberg @ The Fighter': 'The Fighter', 'Mark Wahlberg & Charlize Theron @ The Italian Job': 'The Italian Job', 'Mark Wahlberg & Christian Bale @ The Fighter': 'The Fighter', 'Mark Wahlberg & Denzel Washington @ 2 Guns': '2 Guns', 'Mark Wahlberg & Dwayne Johnson @ The Other Guys': 'The Other Guys', 'Mark Wahlberg & Dwayne Johnson @ Pain & Gain': 'Pain & Gain', 'Mark Wahlberg & George Clooney @ The Perfect Storm': 'The Perfect Storm', 'Mark Wahlberg & Helena Bonham Carter @ Planet of the Apes': 'Planet of the Apes', 'Jason Statham & Mark Wahlberg @ The Italian Job': 'The Italian Job', 'Mark Wahlberg & Jennifer Aniston @ Rock Star': 'Rock Star', 'John Goodman & Mark Wahlberg @ The Gambler': 'The Gambler', 'Mark Wahlberg & Leonardo DiCaprio @ The Departed': 'The Departed', 'Rachel Weisz & Mark Wahlberg @ The Lovely Bones': 'The Lovely Bones', 'Russell Crowe & Mark Wahlberg @ Broken City': 'Broken City', 'Steve Carell & Mark Wahlberg @ Date Night': 'Date Night', "Will Ferrell & Mark Wahlberg @ Daddy's Home": "Daddy's Home", 'Will Ferrell & Mark Wahlberg @ The Other Guys': 'The Other Guys', 'Mark Wahlberg & Zooey Deschanel @ The Happening': 'The Happening', 'Amy Adams & Owen Wilson @ Night at the Museum: Battle of the Smithsonian': 'Night at the Museum: Battle of the Smithsonian', 'Ben Stiller & Owen Wilson @ Night at the Museum: Secret of the Tomb': 'Night at the Museum: Secret of the Tomb', 'Ben Stiller & Owen Wilson @ Night at the Museum: Battle of the Smithsonian': 'Night at the Museum: Battle of the Smithsonian', 'Ben Stiller & Owen Wilson @ Little Fockers': 'Little Fockers', 'Ben Stiller & Owen Wilson @ Zoolander': 'Zoolander', 'Ben Stiller & Owen Wilson @ Starsky & Hutch': 'Starsky & Hutch', 'Ben Stiller & Owen Wilson @ Meet the Parents': 'Meet the Parents', 'Owen Wilson & Cate Blanchett @ The Life Aquatic with Steve Zissou': 'The Life Aquatic with Steve Zissou', 'Owen Wilson & Eddie Murphy @ I Spy': 'I Spy', 'Emma Stone & Owen Wilson @ Marmaduke': 'Marmaduke', 'Jack Black & Owen Wilson @ The Big Year': 'The Big Year', 'Owen Wilson & Jennifer Aniston @ Marley & Me': 'Marley & Me', 'Josh Brolin & Owen Wilson @ Inherent Vice': 'Inherent Vice', 'Owen Wilson & Michael Caine @ Cars 2': 'Cars 2', 'Owen Wilson & Morgan Freeman @ The Big Bounce': 'The Big Bounce', 'Paul Rudd & Owen Wilson @ How Do You Know': 'How Do You Know', 'Owen Wilson & Reese Witherspoon @ Inherent Vice': 'Inherent Vice', 'Owen Wilson & Reese Witherspoon @ How Do You Know': 'How Do You Know', 'Owen Wilson & Robin Williams @ Night at the Museum: Secret of the Tomb': 'Night at the Museum: Secret of the Tomb', 'Owen Wilson & Robin Williams @ Night at the Museum: Battle of the Smithsonian': 'Night at the Museum: Battle of the Smithsonian', 'Seth Rogen & Owen Wilson @ You, Me and Dupree': 'You, Me and Dupree', 'Owen Wilson & Vince Vaughn @ The Internship': 'The Internship', 'Owen Wilson & Vince Vaughn @ Wedding Crashers': 'Wedding Crashers', 'Owen Wilson & Vince Vaughn @ Starsky & Hutch': 'Starsky & Hutch', 'Owen Wilson & Will Ferrell @ Zoolander': 'Zoolander', 'Owen Wilson & Willem Dafoe @ The Life Aquatic with Steve Zissou': 'The Life Aquatic with Steve Zissou', 'Owen Wilson & Woody Harrelson @ Free Birds': 'Free Birds', 'Ewan McGregor & Channing Tatum @ Haywire': 'Haywire', 'Ewan McGregor & George Clooney @ The Men Who Stare at Goats': 'The Men Who Stare at Goats', 'Ewan McGregor & Helena Bonham Carter @ Big Fish': 'Big Fish', 'Hugh Jackman & Ewan McGregor @ Deception': 'Deception', 'Jim Carrey & Ewan McGregor @ I Love You Phillip Morris': 'I Love You Phillip Morris', 'Johnny Depp & Ewan McGregor @ Mortdecai': 'Mortdecai', 'Julia Roberts & Ewan McGregor @ August: Osage County': 'August: Osage County', 'Meryl Streep & Ewan McGregor @ August: Osage County': 'August: Osage County', 'Naomi Watts & Ewan McGregor @ Lo imposible': 'Lo imposible', 'Naomi Watts & Ewan McGregor @ Stay': 'Stay', 'Nicole Kidman & Ewan McGregor @ Moulin Rouge!': 'Moulin Rouge!', 'Paul Bettany & Ewan McGregor @ Mortdecai': 'Mortdecai', 'Ewan McGregor & Robin Williams @ Robots': 'Robots', 'Ewan McGregor & Scarlett Johansson @ The Island': 'The Island', 'Steve Buscemi & Ewan McGregor @ The Island': 'The Island', 'Tom Hanks & Ewan McGregor @ Angels & Demons': 'Angels & Demons', 'Johnny Depp & Aaron Eckhart @ The Rum Diary': 'The Rum Diary', 'Johnny Depp & Angelina Jolie @ The Tourist': 'The Tourist', 'Johnny Depp & Anne Hathaway @ Alice in Wonderland': 'Alice in Wonderland', 'Bill Nighy & Johnny Depp @ Rango': 'Rango', "Bill Nighy & Johnny Depp @ Pirates of the Caribbean: Dead Man's Chest": "Pirates of the Caribbean: Dead Man's Chest", "Bill Nighy & Johnny Depp @ Pirates of the Caribbean: At World's End": "Pirates of the Caribbean: At World's End", 'Johnny Depp & Christian Bale @ Public Enemies': 'Public Enemies', 'Johnny Depp & Helena Bonham Carter @ Alice in Wonderland': 'Alice in Wonderland', 'Johnny Depp & Helena Bonham Carter @ Dark Shadows': 'Dark Shadows', 'Johnny Depp & Helena Bonham Carter @ The Lone Ranger': 'The Lone Ranger', 'Johnny Depp & Helena Bonham Carter @ Charlie and the Chocolate Factory': 'Charlie and the Chocolate Factory', 'Johnny Depp & Helena Bonham Carter @ Corpse Bride': 'Corpse Bride', 'Johnny Depp & Helena Bonham Carter @ Sweeney Todd: The Demon Barber of Fleet Street': 'Sweeney Todd: The Demon Barber of Fleet Street', 'Johnny Depp & Kate Winslet @ Finding Neverland': 'Finding Neverland', 'Johnny Depp & Keira Knightley @ Pirates of the Caribbean: The Curse of the Black Pearl': 'Pirates of the Caribbean: The Curse of the Black Pearl', "Johnny Depp & Keira Knightley @ Pirates of the Caribbean: Dead Man's Chest": "Pirates of the Caribbean: Dead Man's Chest", "Johnny Depp & Keira Knightley @ Pirates of the Caribbean: At World's End": "Pirates of the Caribbean: At World's End", 'Johnny Depp & Morgan Freeman @ Transcendence': 'Transcendence', 'Johnny Depp & Paul Bettany @ Mortdecai': 'Mortdecai', 'Johnny Depp & Paul Bettany @ Transcendence': 'Transcendence', 'Johnny Depp & Paul Bettany @ The Tourist': 'The Tourist', 'Brad Pitt & Jason Statham @ Snatch': 'Snatch', 'Jason Statham & Charlize Theron @ The Italian Job': 'The Italian Job', 'Chris Evans & Jason Statham @ Cellular': 'Cellular', 'Clive Owen & Jason Statham @ Killer Elite': 'Killer Elite', 'Jason Statham & Dwayne Johnson @ Furious 7': 'Furious 7', 'Harrison Ford & Jason Statham @ The Expendables 3': 'The Expendables 3', 'James Franco & Jason Statham @ Homefront': 'Homefront', 'Jason Statham & Jennifer Lopez @ Parker': 'Parker', 'Mark Wahlberg & Jason Statham @ The Italian Job': 'The Italian Job', 'Paul Walker & Jason Statham @ Furious 7': 'Furious 7', 'Jason Statham & Sylvester Stallone @ The Expendables 3': 'The Expendables 3', 'Jason Statham & Sylvester Stallone @ The Expendables': 'The Expendables', 'Jason Statham & Sylvester Stallone @ The Expendables 2': 'The Expendables 2', 'Vin Diesel & Jason Statham @ Furious 7': 'Furious 7', 'James Franco & Charlize Theron @ In the Valley of Elah': 'In the Valley of Elah', 'Jonah Hill & James Franco @ This Is the End': 'This Is the End', 'Josh Brolin & James Franco @ Milk': 'Milk', 'James Franco & Julia Roberts @ Eat Pray Love': 'Eat Pray Love', 'Paul Rudd & James Franco @ The Little Prince': 'The Little Prince', 'Rachel Weisz & James Franco @ Oz: The Great and Powerful': 'Oz: The Great and Powerful', 'Seth Rogen & James Franco @ The Interview': 'The Interview', 'Seth Rogen & James Franco @ Pineapple Express': 'Pineapple Express', 'Seth Rogen & James Franco @ This Is the End': 'This Is the End', 'Willem Dafoe & James Franco @ Spider-Man': 'Spider-Man', 'James Franco & Zooey Deschanel @ Your Highness': 'Your Highness', 'Brad Pitt & Angelina Jolie @ Mr. & Mrs. Smith': 'Mr. & Mrs. Smith', 'Brad Pitt & Cate Blanchett @ The Curious Case of Benjamin Button': 'The Curious Case of Benjamin Button', 'Brad Pitt & Cate Blanchett @ Babel': 'Babel', 'Brad Pitt & Christian Bale @ The Big Short': 'The Big Short', 'Brad Pitt & Drew Barrymore @ Confessions of a Dangerous Mind': 'Confessions of a Dangerous Mind', "Brad Pitt & George Clooney @ Ocean's Eleven": "Ocean's Eleven", 'Brad Pitt & George Clooney @ Burn After Reading': 'Burn After Reading', "Brad Pitt & George Clooney @ Ocean's Twelve": "Ocean's Twelve", "Brad Pitt & George Clooney @ Ocean's Thirteen": "Ocean's Thirteen", 'Brad Pitt & Jonah Hill @ Megamind': 'Megamind', 'Brad Pitt & Jonah Hill @ Moneyball': 'Moneyball', "Brad Pitt & Julia Roberts @ Ocean's Eleven": "Ocean's Eleven", 'Brad Pitt & Julia Roberts @ The Mexican': 'The Mexican', 'Brad Pitt & Julia Roberts @ Confessions of a Dangerous Mind': 'Confessions of a Dangerous Mind', "Brad Pitt & Julia Roberts @ Ocean's Twelve": "Ocean's Twelve", 'Brad Pitt & Steve Carell @ The Big Short': 'The Big Short', 'Brad Pitt & Vince Vaughn @ Mr. & Mrs. Smith': 'Mr. & Mrs. Smith', 'Brad Pitt & Will Ferrell @ Megamind': 'Megamind', "Alec Baldwin & Cameron Diaz @ My Sister's Keeper": "My Sister's Keeper", 'Cameron Diaz & Brendan Gleeson @ Gangs of New York': 'Gangs of New York', "Cameron Diaz & Drew Barrymore @ Charlie's Angels: Full Throttle": "Charlie's Angels: Full Throttle", "Cameron Diaz & Drew Barrymore @ Charlie's Angels": "Charlie's Angels", 'Eddie Murphy & Cameron Diaz @ Shrek Forever After': 'Shrek Forever After', 'Eddie Murphy & Cameron Diaz @ Shrek': 'Shrek', 'Eddie Murphy & Cameron Diaz @ Shrek 2': 'Shrek 2', 'Eddie Murphy & Cameron Diaz @ Shrek the Third': 'Shrek the Third', "Cameron Diaz & Elizabeth Banks @ What to Expect When You're Expecting": "What to Expect When You're Expecting", 'Jack Black & Cameron Diaz @ The Holiday': 'The Holiday', 'Jamie Foxx & Cameron Diaz @ Annie': 'Annie', 'Cameron Diaz & Jason Bateman @ The Sweetest Thing': 'The Sweetest Thing', "Cameron Diaz & Jennifer Lopez @ What to Expect When You're Expecting": "What to Expect When You're Expecting", 'Jude Law & Cameron Diaz @ The Holiday': 'The Holiday', 'Kate Winslet & Cameron Diaz @ The Holiday': 'The Holiday', 'Cameron Diaz & Leonardo DiCaprio @ Gangs of New York': 'Gangs of New York', 'Liam Neeson & Cameron Diaz @ Gangs of New York': 'Gangs of New York', 'Seth Rogen & Cameron Diaz @ The Green Hornet': 'The Green Hornet', 'Tom Cruise & Cameron Diaz @ Knight and Day': 'Knight and Day', 'Tom Cruise & Cameron Diaz @ Vanilla Sky': 'Vanilla Sky', 'Ben Stiller & Alec Baldwin @ Along Came Polly': 'Along Came Polly', 'Amy Adams & Ben Stiller @ Night at the Museum: Battle of the Smithsonian': 'Night at the Museum: Battle of the Smithsonian', 'Ben Stiller & Eddie Murphy @ Tower Heist': 'Tower Heist', 'Jack Black & Ben Stiller @ Tropic Thunder': 'Tropic Thunder', 'Ben Stiller & Jennifer Aniston @ Along Came Polly': 'Along Came Polly', 'Justin Long & Ben Stiller @ DodgeBall: A True Underdog Story': 'DodgeBall: A True Underdog Story', "Naomi Watts & Ben Stiller @ While We're Young": "While We're Young", 'Owen Wilson & Ben Stiller @ Night at the Museum: Secret of the Tomb': 'Night at the Museum: Secret of the Tomb', 'Owen Wilson & Ben Stiller @ Night at the Museum: Battle of the Smithsonian': 'Night at the Museum: Battle of the Smithsonian', 'Owen Wilson & Ben Stiller @ Little Fockers': 'Little Fockers', 'Owen Wilson & Ben Stiller @ Zoolander': 'Zoolander', 'Owen Wilson & Ben Stiller @ Starsky & Hutch': 'Starsky & Hutch', 'Owen Wilson & Ben Stiller @ Meet the Parents': 'Meet the Parents', 'Ben Stiller & Robert Downey Jr. @ Tropic Thunder': 'Tropic Thunder', 'Ben Stiller & Robin Williams @ Night at the Museum: Secret of the Tomb': 'Night at the Museum: Secret of the Tomb', 'Ben Stiller & Robin Williams @ Night at the Museum: Battle of the Smithsonian': 'Night at the Museum: Battle of the Smithsonian', 'Ben Stiller & Robin Williams @ Night at the Museum': 'Night at the Museum', 'Ben Stiller & Vince Vaughn @ DodgeBall: A True Underdog Story': 'DodgeBall: A True Underdog Story', 'Ben Stiller & Vince Vaughn @ Starsky & Hutch': 'Starsky & Hutch', 'Ben Stiller & Will Ferrell @ Zoolander': 'Zoolander', 'Aaron Eckhart & Morgan Freeman @ Olympus Has Fallen': 'Olympus Has Fallen', 'Angelina Jolie & Morgan Freeman @ Wanted': 'Wanted', 'Ben Kingsley & Morgan Freeman @ Lucky Number Slevin': 'Lucky Number Slevin', 'Gerard Butler & Morgan Freeman @ Olympus Has Fallen': 'Olympus Has Fallen', 'Jennifer Lopez & Morgan Freeman @ An Unfinished Life': 'An Unfinished Life', 'Paul Bettany & Morgan Freeman @ Transcendence': 'Transcendence', 'Robert De Niro & Morgan Freeman @ Last Vegas': 'Last Vegas', 'Morgan Freeman & Scarlett Johansson @ Lucy': 'Lucy', 'Tom Cruise & Morgan Freeman @ Oblivion': 'Oblivion', 'Adam Sandler & Drew Barrymore @ Blended': 'Blended', 'Adam Sandler & Drew Barrymore @ 50 First Dates': '50 First Dates', 'Guy Pearce & Adam Sandler @ Bedtime Stories': 'Bedtime Stories', 'Adam Sandler & Jennifer Aniston @ Just Go With It': 'Just Go With It', 'Jonah Hill & Adam Sandler @ Funny People': 'Funny People', 'Adam Sandler & Nicole Kidman @ Just Go With It': 'Just Go With It', 'Seth Rogen & Adam Sandler @ Funny People': 'Funny People', 'Adam Sandler & Steve Buscemi @ Hotel Transylvania 2': 'Hotel Transylvania 2', 'Adam Sandler & Steve Buscemi @ Grown Ups': 'Grown Ups', 'Adam Sandler & Steve Buscemi @ Hotel Transylvania': 'Hotel Transylvania', 'Cate Blanchett & George Clooney @ The Monuments Men': 'The Monuments Men', 'Cate Blanchett & George Clooney @ The Good German': 'The Good German', 'Jason Bateman & George Clooney @ Up in the Air': 'Up in the Air', 'John Goodman & George Clooney @ The Monuments Men': 'The Monuments Men', 'John Goodman & George Clooney @ O Brother, Where Art Thou?': 'O Bro

ValueError: Shape of passed values is (842, 1), indices imply (842, 2)

In [1008]:
partners=pd.DataFrame.from_dict(list_of_partners,orient='index').reset_index()
partners.columns=['Partners','Movie']
display(partners.head(5)) 
display(partners.info())

                                            Partners                  Movie
0  Nicolas Cage & Angelina Jolie @ Gone In Sixty ...  Gone In Sixty Seconds
1              Bill Nighy & Nicolas Cage @ Astro Boy              Astro Boy
2             Emma Stone & Nicolas Cage @ The Croods             The Croods
3        Guy Pearce & Nicolas Cage @ Seeking Justice        Seeking Justice
4       Nicolas Cage & Julia Roberts @ The Ant Bully          The Ant Bully

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Partners  842 non-null    object
 1   Movie     842 non-null    object
dtypes: object(2)
memory usage: 13.3+ KB

None

In [1009]:
def clean_partners(string):
    #print(string, type(string))
    chip_off_movie=string.split('@')
    #print(chip_off_movie, type(chip_off_movie))
    new_string=chip_off_movie[0]
    #print(chip_off_movie[0])
    return new_string

In [1010]:
partners['Partners']=partners['Partners'].apply(clean_partners)
display(partners.head(5))

                         Partners                  Movie
0  Nicolas Cage & Angelina Jolie   Gone In Sixty Seconds
1      Bill Nighy & Nicolas Cage               Astro Boy
2      Emma Stone & Nicolas Cage              The Croods
3      Guy Pearce & Nicolas Cage         Seeking Justice
4   Nicolas Cage & Julia Roberts           The Ant Bully

In [1025]:
partners_sorted=partners.sort_values(by='Partners')
display(partners_sorted.head(3))

                              Partners               Movie
381    Aaron Eckhart & Christian Bale      The Dark Knight
562     Aaron Eckhart & Gerard Butler   Olympus Has Fallen
441  Aaron Eckhart & Jennifer Aniston         Love Happens

In [1012]:
best_partners=partners_sorted.Partners.value_counts()
display(best_partners)

Owen Wilson & Ben Stiller              6
Johnny Depp & Helena Bonham Carter     6
Ben Stiller & Owen Wilson              6
Vin Diesel & Paul Walker               5
Brad Pitt & George Clooney             4
                                      ..
Keanu Reeves & Charlize Theron         1
Bill Nighy & Nicolas Cage              1
Jamie Foxx & Mark Ruffalo              1
Matt Damon & Scarlett Johansson        1
Mark Ruffalo & Keira Knightley         1
Name: Partners, Length: 683, dtype: int64

In [1023]:
let_s_see=partners_sorted.groupby(['Partners'])[['Movie']].count().sort_values(['Movie'],ascending=False)
#display(let_s_see)
data_27_ans=let_s_see.reset_index()
display(data_27_ans.head(5))

                              Partners  Movie
0  Johnny Depp & Helena Bonham Carter       6
1           Ben Stiller & Owen Wilson       6
2           Owen Wilson & Ben Stiller       6
3            Vin Diesel & Paul Walker       5
4          Brad Pitt & George Clooney       4

In [1020]:
ans27=data_27_ans.iloc[0]['Partners']
print(ans27)
answers1.update({27:ans27})

Johnny Depp & Helena Bonham Carter

# Работа над ошибками

In [1031]:
HP=data[data['original_title'].str.contains('Harry Potter',na=False)]
display(HP[['cast','original_title']])

,cast,original_title
243,Daniel Radcliffe|Rupert Grint|Emma Watson|Tom ...,Harry Potter and the Half-Blood Prince
375,Daniel Radcliffe|Emma Watson|Rupert Grint|Ralp...,Harry Potter and the Deathly Hallows: Part 1
498,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,Harry Potter and the Philosopher's Stone
723,Daniel Radcliffe|Rupert Grint|Emma Watson|Alan...,Harry Potter and the Deathly Hallows: Part 2
865,Daniel Radcliffe|Rupert Grint|Emma Watson|Kenn...,Harry Potter and the Chamber of Secrets
1313,Daniel Radcliffe|Rupert Grint|Emma Watson|Ralp...,Harry Potter and the Goblet of Fire
1561,Daniel Radcliffe|Rupert Grint|Emma Watson|Gary...,Harry Potter and the Prisoner of Azkaban
1671,Daniel Radcliffe|Rupert Grint|Emma Watson|Mich...,Harry Potter and the Order of the Phoenix

In [1033]:
HP1=partners[partners['Movie'].str.contains('Harry Potter',na=False)]
display(HP1[['Partners','Movie']])

,Partners,Movie
737,Ralph Fiennes & Helena Bonham Carter,Harry Potter and the Deathly Hallows: Part 1

In [1034]:
HP2=partners[partners['Partners'].str.contains('Radcliffe',na=False)]
display(HP2[['Partners','Movie']])

Empty DataFrame
Columns: [Partners, Movie]
Index: []

In [1038]:
display(popular_df.head(3))
DR=popular_df[popular_df['Name'].str.contains('Radcliffe',na=False)]
display(DR[['Name','Count']])

        Name  Count
0  1/16/2015      1
1    50 Cent      5
2  A.J. Cook      1

                 Name  Count
755  Daniel Radcliffe     11

# Я отсекла Daniel Radcliffe, потому что я рассматривала актёров, которые снимались в более, чем 12 фильмах! Иначе у меня комп не тянул!

# Submission

In [1021]:
# в конце можно посмотреть свои ответы к каждому вопросу
for i in range(1,28):
    print(i," : ",answers1[i])

1  :  724    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object
2  :  1158    Gods and Generals
Name: original_title, dtype: object
3  :  Winnie the Pooh
4  :  109.66313559322033
5  :  107.0
6  :  240    Avatar
Name: original_title, dtype: object
7  :  1246    The Lone Ranger
Name: original_title, dtype: object
8  :  1478
9  :  600    The Dark Knight
Name: original_title, dtype: object
10  :  1246    The Lone Ranger
Name: original_title, dtype: object
11  :  Action
12  :  Action
13  :  Peter Jackson
14  :               director  genres  original_title  production_companies
0  Paul W.S. Anderson       7               7                     7
1         Michael Bay       7               7                     7
15  :  Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson
16  :  965    Matt Damon
Name: Actor, dtype: object
17  :  0    Action
Name: Genre, dtype: object
18  :  926    K-19: The Widowmaker
Name: original_title, dtype: object
19  :  0    2015.0
Name: release_year, dtype: float64
20  :  0    2014.0
Name: release_year, dtype: float64
21  :  0    Sep
Name: release_date, dtype: object
22  :  0    Fall
Name: season, dtype: object
23  :  0    Peter Jackson
Name: director, dtype: object
24  :  583    Four By Two Productions
Name: production_companies, dtype: object
25  :  1041    Midnight Picture Show
Name: production_companies, dtype: object
26  :                                           original_title  vote_average
600                                     The Dark Knight           8.1
9                                            Inside Out           8.0
34                                                 Room           8.0
119                                        Interstellar           8.0
126                                  The Imitation Game           8.0
371                                           Inception           7.9
1192                                   12 Years a Slave           7.9
1184                            The Wolf of Wall Street           7.9
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1801                                            Memento           7.9
120                             Guardians of the Galaxy           7.9
139                            The Grand Budapest Hotel           7.9
129                                           Gone Girl           7.9
284                                          Mr. Nobody           7.8
1689                                There Will Be Blood           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
1445                                       The Prestige           7.8
1214                                 Dallas Buyers Club           7.8
1206                                          Prisoners           7.8
125                                          Big Hero 6           7.8
1189                                                Her           7.8
317                                            3 Idiots           7.8
864               The Lord of the Rings: The Two Towers           7.8
156                            The Theory of Everything           7.8
28                                            Spotlight           7.8
178                              The Fault in Our Stars           7.8
497   The Lord of the Rings: The Fellowship of the Ring           7.8
27  :  Johnny Depp & Helena Bonham Carter

In [1039]:
# и убедиться что ни чего не пропустил)
len(answers1)

27